{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group mb-3">
                                {{ form.login.label(class="form-control-label") }}
                                {% if form.login.errors %}
                                    {{ form.login(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.login.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.login(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group mb-3">
                                {{ form.senha.label(class="form-control-label") }}
                                {% if form.senha.errors %}
                                    {{ form.senha(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.senha.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.senha(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-check mb-3">
                                {{ form.remember(class="form-check-input") }}
                                {{ form.remember.label(class="form-check-label") }}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <small>
                        Não tem uma conta? <a href="{{ url_for('register') }}">Registre-se aqui</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
