{% extends "base.html" %}

{% block title %}Login - Sistema de Protocolo{% endblock %}

{% block content %}
<div id="login" class="login-screen content active">
    <div class="login-form-container">
      <h3>Acesso ao Sistema</h3>

      <label for="client_code">Código do Cliente (deixe em branco para Super Admin)</label>
      <input type="text" id="client_code" placeholder="Ex: alpha" />

      <label for="usuario">Usuário</label>
      <input type="text" id="usuario" />

      <label for="senha">Senha</label>
      <input type="password" id="senha" />

      <button onclick="logar()">Entrar</button>
      <p id="loginMsg" style="color:red;"></p>
    </div>
</div>
{% endblock %}
