{% extends "base.html" %}

{% block title %}Todos os Protocolos - Sistema de Protocolo{% endblock %}

{% block content %}
<div class="protocolos-screen content active">
    <h3>📋 Lista de Todos os Protocolos</h3>
    <table>
      <thead>
        <tr>
            <th>Número</th><th>Matrícula</th><th>Nome</th><th>Tipo</th><th>Status</th><th>Responsável</th><th>Ação</th>
        </tr>
      </thead>
      <tbody id="tabelaProtocolos"></tbody>
    </table>
    <div id="paginacaoProtocolos" style="margin-top: 20px; text-align: center;"></div>
    <a href="{{ url_for('main.menu') }}" class="button-link" style="margin-top: 20px;">Voltar ao Menu</a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        listarProtocolos();
    });
</script>
{% endblock %}
